#carrental-card {
    width:100%;
    background-color: #1A1A1A;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
}

#carrental-card:hover {
    transform: scale3d(1.02, 1.02, 1.02);
    border-color: #F973164D;
    transition: 0.3s;
}

#carrental-card:hover h3 {
    color: #F97316;
    transition: 0.3s;
}

.carrental-car-image {
    width: 100%;
    overflow: hidden;
}

.carrental-car-image img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: 0.3s;
}

.carrental-vehicle {
    display: flex;
    justify-content: space-between;
}

.carrental-user {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 0.25em;
    background-color: #1A1A1A;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 0.25em 1em;
}

.carrental-user h4, 
.carrental-user i {
    font-size: 1rem;
    font-weight: 400;
}

.carrental-car-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.carrental-rental-details h3 {
    font-weight: 500;
}

.carrental-car-details p{
    font-size: 0.90rem;
    opacity: 0.8;
    font-weight: 300;
}

.carrental-rental-details {
    font-size: 0.90rem;
    display: flex;  
    gap: 0.25em;
    justify-content: space-between;
    align-items: center;
}

.carrental-vehicle p {
    background-color: #472C19;
    color: #F97316;
    font-weight: 600;
    border: 1px solid #F973164D;
    border-radius: 50px;
    padding: 0.25em 1em;
}

.carrental-contact {
    color: #F97316;
    margin-top: 0.5em;
}